.stat {
    padding:0;
    margin: 0;
    display: flex;
    justify-content:space-between;
    padding: 50px 40px 20px 40px;

}
p {
    padding: 0;
    margin: 0;
}
.views {
    font-size: .86rem;
    font-weight: 500;
}
.views, .price {
    color: rgb(94, 93, 93);
    
    
}
.price {
    margin-top: -25px;
}
.price_span {
    font-size: 3rem;
    color: black;
    font-weight: 600;
    padding: 0;
    margin: 0;
    
}
.month{
    display: inline-block;
    vertical-align: top;
    margin-top: 22px;
    
}
/* .range_width {
    width: 340px;
    
    margin: 0 auto 10px auto;
    
}
input[type='range']{
  
   width: 100%;
    -webkit-appearance: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    
    
    margin: 0 auto;
    background-color: #87d8caa4;
    
    
}
input[type='range']::-webkit-slider-runnable-track {
    
    
    -webkit-appearance: none;
    width:100%;
   
   
    
    color: #87d8cad2;
  
    
  }

.slider::-webkit-slider-thumb {
    
    
    appearance: none;
    position: relative;
    width: 24.5px;
    height: 26px;
   
    border: 0;
    background: url('../../images//icon-slider.svg') no-repeat center #04927ad2;
    border-radius: 50%;
    cursor: pointer;
    
 } */
 .range_width {
     width: 350px;
     margin: 0 auto;
 }
 input[type=range] {
    height: 34px;
    -webkit-appearance: none;
    /* 
     */
    width: 100%;
    
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    /* animate: 0.2s;
    box-shadow: 1px 1px 1px #000000; */
    background: #5be4cdb9;
    border-radius: 7px;
    /* border: 0px solid #010101; */
  }
  input[type=range]::-webkit-slider-thumb {
    /* box-shadow: 1px 1px 1px #000031;
    border: 1px solid #00001E; */
    vertical-align: top;
    height: 28px;
    width: 28px;
    border-radius: 15px;
    background: center / contain no-repeat url('../../images/icon-slider.svg')  #05ceac;
    cursor: pointer;
    background-size: 15px;
    box-shadow: 0px 4px  8px #5be4cd;
    -webkit-appearance: none;
    margin-top: -11px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #5be4cd;
  }
  /* input[type=range]::-moz-range-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #74A9D8;
    border-radius: 1px;
    border: 0px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000031;
    border: 1px solid #00001E;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #74A9D8;
    border: 0px solid #010101;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #74A9D8;
    border: 0px solid #010101;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #000031;
    border: 1px solid #00001E;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #74A9D8;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #74A9D8;
  } */
 /* Billing */
 .billing {
     display: flex; 
     font-size: .8rem;
     justify-content: center;
     margin: 35px 0;
 }
 .billing p {
     padding-right: 15px;
    
 }
 .billing p:last-child {
    padding: .8px 8px;
    background: rgba(245, 154, 154, 0.781);
    border-radius: 5px;
    color: rgb(248, 7, 7);
 }

.perks {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 40px;
  

}

.perks ul {
    padding: 0;
    margin: 0;
}
.perks ul  li {
    list-style-type: none;
    padding: 3px 0;
}


.perks img {
    width: 11px; 
    padding-right: 12px;
}

.perks button {
    outline: none;
    border: none;
    background:rgb(9, 41, 100);
    color: white;
    padding: 10px 35px;
    border-radius: 20px;
    margin-top: 20px;
}
